.WeatherAndForecast {
  display: flex;
  flex-direction: column;
  color: #f2f2f2;
  padding: .02rem 0.3rem;
  /* border: 1px solid red; */
  background-color: rgb(35, 98, 169);
  min-height: 300px;
  border-radius: 10px;
}

.WeatherAndForecast__container {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  width: 100%;
  background-color: rgb(21, 148, 64);
  border-radius: 4px;
}

@media (max-width: 375px) {
  .WeatherAndForecast {
    padding: 2rem;
  }
}
