body{
  background-color: skyblue;
}
.h1{
  text-align: center;  
}
#loading{
  height: 100vh;
  position: fixed;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
  z-index: 99;
}
#left{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 5px;
  background-color: rgb(11, 150, 248);
}
#right{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: -25px 125px ;
  background-color: rgb(11, 149, 248);
}
@keyframes spinner {
  0%{
      transform: rotate(0deg);
  }
  25%{
      transform: rotate(270deg);
      
  }
  75%{
      transform: rotate(540deg);
  }
  100%{
      transform: rotate(720deg);
  }
}
.divh1{
  width: 43%;
  margin: auto;  
  background-color: greenyellow;
  border-radius: 5px;  
}
.humidity{
  color: rgb(215, 75, 82);
}
.pressure{
  color: rgb(234, 23, 139);
}
.App {
  width: 40%;
  border: 2px solid rgba(232, 249, 40, 0.525);
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  z-index: 2;
  margin: auto;  
  margin-top: 50px;
  margin-bottom: 50px;
}


.search_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 7px;
  
}

.search_div>div:first-child {
  display: flex;
}

.search_div input {
  border: transparent;
  outline: transparent;
  font-size: 16px;
  width: 100%;
  height: 100%;  
}

.days {
  display: flex;
  height: 200px;
  width: 100%;
  margin: 10px auto;
  overflow-x: scroll;
  border: 1.5px solid cyan;
  border-radius: 5px;
}

::-webkit-scrollbar {
  display: none;
}

.day {
  width: 100px;
  text-align: center;
}

.day img {
  width: 30px;
}
.temp_var{
  margin-top: 10px;
  border: 1.5px solid gray;
  border-radius: 10px;
  padding: 10px; 
  
}
.search_model{
  position: absolute;
  top: 79px;
  width: calc(40% - 22px);
  padding: 10px;
  overflow: scroll;
  border: 2px solid rgb(124, 173, 247);
  background-color: white;
  border-radius: 5px;
  z-index: 20;
 height:320px;
 margin-top: 50px;
 overflow: scroll;
}

.gmap_iframe{
  width: calc(100% - 5px);
  height: 350px !important;
  border: 1.5px solid rgb(235, 46, 46);
  border-radius: 10px;
  margin-top: 10px;
}


@media only screen and (max-Width:1200px) {
  .App {
      width: 60%;
      margin: auto;
  }
  .search_model{
      width: calc(60% - 15px);
  }
}

@media only screen and (max-Width:850px) {
  .App {
      width: 80%;
      margin: auto;
  }
  .search_model{
      width: calc(80% - 20px);
  }
}

@media only screen and (max-Width:600px) {
  .App {
      width: calc(100% - 40px);
      border: transparent;
      border-radius: 0;
  }
  .search_model{
      width: calc(90% - 10px);
  }
  .main {
      height: fit-content;
      
    }
}